#auth-form {
  display: flex;
  flex-direction: column;
  width: 450px;
  padding: 0.8em;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 3px rgba(34, 60, 80, 0.08);
}

.auth-form__control {
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}

.auth-form__input {
  padding: 0.7em 1em;
  margin: 0.2em 0;
  background-color: rgba(32, 178, 171, 0.152);
}

.auth-form__submit-btn {
  margin: 0.8em 0;
  padding: 0.5em 0.6em;
  background-color: rgba(32, 178, 171, 0.81);
  cursor: pointer;
  width: 100%;
}

.auth-form__submit-btn:disabled {
  cursor: default;
  background-color: lightgray;
}
